<nav class="navbar">

    <div class="navbar-left">

        <div class="search-box">

            <span class="search-icon">
                🔍
            </span>

            <input
                type="text"
                placeholder="Search skills, companies, roadmap..." />

        </div>

    </div>

    <div class="navbar-right">

        <button class="icon-btn">

            🔔

            <span class="badge">
                3
            </span>

        </button>

        <button class="icon-btn">

            ⚙️

        </button>

        <div class="profile">

            <img
            src="https://i.pravatar.cc/150?img=12">

            <div>

                <h4>Hetal Patil</h4>

                <p>Student</p>

            </div>

        </div>

    </div>

</nav>